<div class="container">
  <app-top></app-top>
  <div class="dropdowns_list">
    <div class="filter_dropdown dis-flx black-opacity-20 justify-space-between">
      <div class="label">
        <h5>{{dropdownLabel}}</h5>
      </div>
      <div class="selection">
        <h5 *ngIf="_helper.dropdown_category == 'persons'">{{dropdownSelection}} persons</h5>
        <h5 *ngIf="_helper.dropdown_category != 'persons'" >{{dropdownSelection}}</h5>
      </div>
    </div>
  </div>
</div>
<div class="small_blocks_container container">
  <app-smallblocks (newItemEvent)="addItem($event)" ></app-smallblocks>
</div>

