<div class="height_100vh">
  <div class="container">
    <div class="top dis-flx justify-center align-center">
      Booking succesfull
    </div>
  </div>
  <div class="container mid-content">

    <div class="section check_mail">
      <h2>Geen reactie op uw e-mail? Check uw ongewenste mail of spambox! of bel 0737113168.</h2>
    </div>

    <div class="section received">
      <h1>Booking received</h1>
      <h2>An email has been sent to to wing@pixel2code.nl. with your booking detail.</h2>
    </div>

    <div class="section looking_message dis-flx">
      <h2>We are looking forward to you see on monday 19 july 2021 at 11:00.</h2>

      <span>This booking have a fixed end time 23:30</span>
    </div>

    <button (click)="BookAgain()">Place another booking</button>
  </div>
</div>
