// Custom Theming for Angular Material
html{
  background-color: #f7fafc;
  font-family: "Work Sans";
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.dis-flx {
  display: flex;
}
.dis-none{
  display: none;
}
.dis-inbk {
  display: inline-block;
}

.clearfix:before,
.clearfix:after {
  width: 100%;
  display: table;
  content: '';
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Work Sans';

}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
  font-size: 16px;
  line-height: 1.5;
}
.pos-rel {
  position: relative;
}
.fl{
  float: left;
}
.justify-center{
  justify-content: center;
}

.justify-space-between{
  justify-content: space-between;
}
.justify-space-evenly{
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.justify-space-around{
  justify-content: space-around;
}
.bor-bot + .bor-bot{
  border-top: 1px solid #EBEBEB;
}
h1{
  font: normal normal 600 28px/39px Work Sans;
  font-weight: 600;
}
h2{
  font-size: 20px;
  font-weight: 500;
}
h3{
  font: normal normal medium 18px/20px Work Sans;
  font-weight: 500;
}
h4{
  font: normal normal 600 16px/19px Work Sans;
  font-weight: 500;
}
h5{
  font: normal normal normal 14px/38px Work Sans;
}

.black-opacity-20{
 background-color: rgba(0, 0, 0, 0.2);
}
.dynamic-opacity-80{
  background-color: #726dcc;
  opacity: 80%;
}

.container {
  height: auto;
  width: 400px;
  background-color: #726DCC;
  padding: 0 20px;
  //margin: 50px;
  border-radius: 10px;
  padding-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.small_blocks_container {
  padding-bottom: 20px;
  padding-top: 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 50px #00000029;

}
.height_100vh{
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0px 3px 6px #FFFFFF29, 0px 5px 50px #00000029;

}
